<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.synth3sisgame.synth3sisgame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PERMISSION_ALBUM" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".acitivities.RandomLabelActivity"
            android:theme="@style/NoTitleBarTheme"></activity>
        <activity
            android:name=".acitivities.FrequancyActivity"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".acitivities.RandomAddFolderActivity"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".acitivities.TimeNameOfChainActivity"
            android:theme="@style/NoTitleBarTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".acitivities.SequantialPikerActivity"
            android:theme="@style/NoTitleBarTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".acitivities.RandomPickerActivity"
            android:theme="@style/NoTitleBarTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".acitivities.Chains" />
        <activity
            android:name=".acitivities.AddChain"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".acitivities.AddFolder"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".acitivities.AddBlock"
            android:theme="@style/NoTitleBarTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".acitivities.RandomFolder"
            android:theme="@style/NoTitleBarTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".GridItemActivity" />
        <activity android:name=".acitivities.Dashboard">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".acitivities.SplashActivity"
            android:theme="@style/NoTitleBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>